.custom-checkbox {
  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    height: 19px;
  }

  &>span::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &>input:not(:disabled):active+span::before {
    background-color: #E8E8E8;
    border-color: #E8E8E8;
  }

  &>input:focus+span::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &>input:focus:not(:checked)+span::before {
    border-color: #E8E8E8;
  }

  &>input:checked+span::before {
    border-color: #E8E8E8;
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.42 8.87'%3e%3cpath fill='%7A7A7A' d='M4.66231 9.15398C4.55322 9.26365 4.40447 9.3249 4.24989 9.3249C4.09531 9.3249 3.94656 9.26365 3.83747 9.15398L0.543973 5.8599C0.202139 5.51807 0.202139 4.9639 0.543973 4.62265L0.956389 4.21023C1.29822 3.8684 1.85181 3.8684 2.19364 4.21023L4.24989 6.26648L9.80614 0.710232C10.148 0.368399 10.7021 0.368399 11.0434 0.710232L11.4558 1.12265C11.7976 1.46448 11.7976 2.01865 11.4558 2.3599L4.66231 9.15398Z'/%3e%3c/svg%3e");
  }

  &>input:disabled+span::before {
    background-color: #e9ecef;
  }
}

.calculation_blockButtonContainer,
.calculation_blockButtonMiniContainer {
  display: flex;
  .calculation_blockButton {
    padding: 20.5px 30px;
    font-weight: 600;
    font-size: 14px;
    font-family: Lato;
    line-height: 14px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #AFAFAF;
    background: white;
    border-radius: 2px;
    &.Orange {
      background: #FFA92E;
      border: 1px solid #FFA92E;
    }
    &.m-40 {
      margin-right: 40px;
    }
    &.mt-10 {
      margin-top: 10px;
    }
  }
}

.calculation_blockButtonMiniContainer {
  .calculation_blockButton {
    padding: 15px 20px;
    color: #2B2B2B;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
  }
}