.custom-checkbox {
  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    height: 19px;
  }

  &>span::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  &>input:not(:disabled):active+span::before {
    background-color: #E8E8E8;
    border-color: #E8E8E8;
  }

  &>input:focus+span::before {
    // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &>input:focus:not(:checked)+span::before {
    border-color: #E8E8E8;
  }

  &>input:checked+span::before {
    border-color: #E8E8E8;
    background-color: white;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.42 8.87'%3e%3cpath fill='%7A7A7A' d='M4.66231 9.15398C4.55322 9.26365 4.40447 9.3249 4.24989 9.3249C4.09531 9.3249 3.94656 9.26365 3.83747 9.15398L0.543973 5.8599C0.202139 5.51807 0.202139 4.9639 0.543973 4.62265L0.956389 4.21023C1.29822 3.8684 1.85181 3.8684 2.19364 4.21023L4.24989 6.26648L9.80614 0.710232C10.148 0.368399 10.7021 0.368399 11.0434 0.710232L11.4558 1.12265C11.7976 1.46448 11.7976 2.01865 11.4558 2.3599L4.66231 9.15398Z'/%3e%3c/svg%3e");
  }

  &>input:disabled+span::before {
    background-color: #e9ecef;
  }
}

.calculation_blockButtonContainer,
.calculation_blockButtonMiniContainer {
  display: flex;
  .zagolovok {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    text-transform: uppercase;

    color: #2B2B2B;
  }
  .calculation_blockButton {
    padding: 20.5px 30px;
    font-weight: 600;
    font-size: 14px;
    font-family: Lato;
    line-height: 14px;
    color: #000000;
    box-sizing: border-box;
    border: 1px solid #AFAFAF;
    background: white;
    border-radius: 2px;
    &.Orange {
      background: #FFA92E;
      border: 1px solid #FFA92E;
    }
    &.m-40 {
      margin-right: 40px;
    }
    &.mt-10 {
      margin-top: 10px;
    }
  }
  @media (max-width: 772px) {
    flex-direction: column;
    align-items: center;
    .calculation_blockButton {
      min-width: 225px;
      &.m-40 {
        margin-right: 0;
      }
      &.mt-10 {
        margin-top: 10px;
      }
      &:last-child {
        margin-top: 20px;
      }
    }
  }
}

.calculation_blockButtonMiniContainer {
  .calculation_blockButton {
    padding: 15px 18px;
    color: #2B2B2B;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
  }
}

.calc_block_result_sidebar {
  &.gorisontal {
    @media (min-width: 772px) {
      padding-top: 64px;
      padding-left: 0;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      
      .calc_contact {
        max-width: calc(100% - 38px);
        margin-right: 38px;
        text-align: left;
        border-radius: 2px;
        height: 224px;
        background-image: url(/images/fon_form_calc-2.jpg);
        background-size: cover;
        background-position: center;
        
        .title {
          padding-left: 24px;
          margin-bottom: 9px;
        }
        .pdd {
          padding-left: 24px;
          .subtitle {
            margin-top: 9px;
          }
          .inp,
          button {
            margin-top: 8px;
          }
          .field-mask {
            margin-right: 21px;
          }
          .calc_contact_check {
            margin-top: 24px;
          }
        }
      }
      .qr-code {
        display: flex;
        margin-top: 0;
        margin-left: auto;
        height: 224px;
        min-width: 441px;
        .subtitle {
          max-width: 255px;
          margin-right: 23px;
        }
        img {
          max-height: 224px;
          max-width: 224px;
        }
      }
      
    }
  }
}

.row-section-sidebar {
  @media (min-width: 772px) {
    display: flex;
    flex-direction: row;
    .block-section-result {
      flex: 1 1 100%;
    }
    .calc_block_result_sidebar {
      margin-top: 60px;
    }
  }
  
}

.w-100 {
  width: 100% !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0;
}
.pl-10 {
  padding-left: 10px
}

.calc_blockButtonContainer {
  text-decoration: none;
}

@media (min-width: 772px) {
  .lg-none {
    display: none !important;
  }
}
@media (max-width: 772px) {
  .mb-none {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}

@media (max-width: 772px) {
  .calc_block .calc_rightBlock {
    .calc_rightBlock_Image {
      display: none !important;
    }
  }
  .calc_leftBlock .calc_block_title {
    margin-bottom: 0;
  }
  .calc_block_title + .calc_rightBlock_Image {
    margin-bottom: 15px;
  }
  .calc_block {
    padding-bottom: 0 !important;
  }
}